{% extends 'story5/base.html' %} {% block content %} {% include 'story5/navbar.html' %}
<div class="container my-4">
    <div class="jumbotron">
        <h1 class="display-4">{{ course.name }}</h1>
        <p class="lead">{{ course.term }} {{ course.year }}</p>
        <p>{{ course.desc }}</p>
        <hr class="my-4">
        <div class="row">
            <h4 class="col-10 col-md-auto">No. Ruang : <span class="badge badge-dark">{{ course.room }}</span></h4>
            <h4 class="col-10 col-md-auto">Nama Dosen : <span class="badge badge-dark">{{ course.teacher }}</span></h4>
            <h4 class="col-10 col-md-auto">Jumlah SKS : <span class="badge badge-dark">{{ course.sks }} SKS</span></h4>
        </div>
        <ul class="list-group col-auto col-md-6">
            {% for item in nearDeadline %}
            <li class="list-group-item list-group-item-danger">
                <h5>{{ item.name }}</h5>
                <h6 class="text-secondary">{{ item.date }}</h6>
            </li>
            {% endfor %} {% for item in farDeadline %}
            <li class="list-group-item list-group-item-success">
                <h5>{{ item.name }}</h5>
                <h6 class="text-secondary">{{ item.date }}</h6>
            </li>
            {% endfor %} {% for item in passed %}
            <li class="list-group-item list-group-item-dark">
                <h5>{{ item.name }}</h5>
                <h6 class="text-secondary">{{ item.date }}</h6>
            </li>
            {% endfor %}
        </ul>
        <a class="btn btn-outline-dark mt-4" href="{% url 'story5:index' %}" role="button">BACK</a>
    </div>
</div>
{% endblock content %}